@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

/***************************** GENERAL */ 

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    margin-top: 22.5px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.upper {
    text-transform: uppercase
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.main_marg {
    margin: 0 45px;
}

.top_border {
    border-top: 1px solid;
}

.marg {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
}

.marg-2 {
    margin-top: 45px;
    margin-bottom: 45px;
}

/*****************************  Index */

#background {
    background-image: url("../images/background.jpg");
    min-height: 450px;
    text-align: center;
    padding-top: 190px;
    font-size: 45px;

}

#navbarNav {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    justify-content: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#navbarNav li{
    text-align: center;
    margin-right: 50px;
    padding-left: 75px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .index_img_cat  {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  padding: 8px 16px;
}

/*****************************  Main */


.index_img_cat {
    width: 150px;
    height: 75px;
    margin-top: 45px;
}


/*****************************  Side */

#profile_index {
    border-radius: 50%;
    height: 200px;
    justify-content: center;
    margin-bottom: 22.5px;
}


.fontaw_side {
    width: 75px;
    margin-right: 45px;
    padding-left: 75px;
    color: pink;
    text-align: center;
}

/*****************************  Footer */

.footer {
    padding: 22.5px;
    margin: 0 auto;
    background-color: pink;
}