/***************************** GENERAL */ 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

flex-wrap: wrap;
}

.main_marg {
    margin: 0 45px;
}

.top_border {
    border-top: 1px solid;
}

.marg {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
}

.marg-2 {
    margin-top: 45px;
    margin-bottom: 45px;
}

/*****************************  Index */

#background {
    background-image: url("../images/background.jpg");
    min-height: 450px;
    text-align: center;
    padding-top: 190px;
    font-size: 45px;

}

#navbarNav {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    justify-content: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#navbarNav li{
    text-align: center;
    margin-right: 50px;
    padding-left: 75px;
}


/*****************************  Side */

#profile_index {
    border-radius: 50%;
    height: 200px;
    justify-content: center;
    margin-bottom: 22.5px;
}

#pat_but {
    font-size: 45px;
    width: 75px;
}

.fontaw_side {
    width: 75px;
    height: 15px;
    margin-right: 45px;
    font-size: 45px;

}

